.obsidian/app.json
Void Atlas/.obsidian/app.json
.obsidian/workspace
Void Atlas/.obsidian/workspace
.obsidian/appearance.json
Void Atlas/.obsidian/appearance.json
.obsidian/hotkeys.json
Void Atlas/.obsidian/hotkeys.json
.stignore
